* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #9f9f9f;
  --outgoing-chat-bg: #fff;
  --incoming-chat-bg: #f7f7f8;
  --outgoing-chat-border: #fff;
  --incoming-chat-border: #d9d9e3;
}

.darkmode {
  --text-color: #fff;
  --icon-color: #acacbe;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #ccc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}

.light_mode {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover: #f1f1f3;
  --placeholder-color: #9f9f9f;
  --outgoing-chat-bg: #ffffff;
  --incoming-chat-bg: #f7f7f8;
  --outgoing-chat-border: #ffffff;
  --incoming-chat-border: #d9d9e3;

}

body {
  background-color: var(--outgoing-chat-bg);
}

/* Chat container styling */
.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  /* justify-content: center; */
  color: var(--text-color);
  text-align: left;
}

.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
  text-align: left;
}

.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content {
  display: flex;
  max-width: 12000px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.chat .chat-content span {
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
  cursor: pointer;
}

.chat:hover .chat-content:not(:has(.typing-animation, .error)) span {
  visibility: visible;
}

.chat .chat-details {
  display: flex;
  align-items: center;
}

.chat .chat-details img,
.teammate-details img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 5px;
}

.chat .chat-details p {
  white-space: wrap;
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
  color: var(--text-color);
}

.chat .chat-details p.error {
  color: #e55865;
}

span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
  visibility: hidden;
}

img.material-symbols-rounded {
  color: var(--icon-color);
}

.chat:hover img.material-symbols-rounded {
  visibility: visible;
}

.typing-animation {
  display: inline-flex;
  padding-left: 25px;
}

.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  opacity: 0.7;
  margin: 0 3px;
  border-radius: 50%;
  background-color: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

@keyframes animateDots {

  0%,
  44% {
    transform: translateY(0px);
  }

  22% {
    opacity: 0.4;
    transform: translateY(-6px);
  }

  44% {
    opacity: 0.2;
  }
}

/* typing container styling */

.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  background: var(--outgoing-chat-bg);
  border: 1px soid var(--incoming-chat-border);
}

.default-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 0 10px;
  text-align: center;
  color: var(--text-color);
}

.default-text h1 {
  font-size: 3.3rem;
}

.default-text p {
  margin-top: 10px;
  font-size: 1.1rem;
}

.typing-container .typing-content {
  max-width: 950px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.typing-content .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}

.typing-textarea textarea {
  width: 100%;
  height: 55px;
  border: none;
  resize: none;
  font-size: 1rem;
  max-height: 250px;
  overflow-y: auto;
  padding: 15px 45px 15px 20px;
  color: var(--text-color);
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}

.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}

.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
  cursor: pointer;
}

.typing-textarea textarea:valid~span {
  visibility: visible;
}

.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
}

.typing-content span {
  height: 50px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

.typing-controls {
  display: flex;
}

.typing-controls span {
  margin-left: 7px;
  font-size: 1.4rem;
  border-radius: 4px;
  background-color: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
  cursor: pointer;
}
span {
  cursor: pointer;
}

.typing-container,
.chat-container {
  display: none;
}

.info_box {
  z-index: 99999999999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.teammate {
  display: flex;
  height: 10rem;
  gap: 0.5rem;
}

img.team-image {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin-top: 1.5rem;
}

.teammate-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 0.5rem;
}

.github-profile,
.x-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info-page,
a,
.info_title span {
  color: var(--text-color);
  /* max-width: 10rem; */
}

.info_title {
  padding: 1rem;
  border-radius: 15px;
}

.info_title span {
  font-size: 1.5rem;
}
.info_title {
  margin-bottom: 1.5rem;
}

.continue-buttons button {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin-right: 2rem;
}

.continue-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

span.material-icons {
  color: var(--text-color);
}
